body {
  background-color: #62a0ea;
  color: #fff;
  font-family: sans-serif;
  overflow-y: scroll;
}

header {
  background-color: #222;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  color: #fff;
  font-size: 24px;
  text-align: center;
}

section {
  padding: 20px;
  margin: 20px;
}

h2 {
  color: #fff;
  font-size: 20px;
  text-align: center;
}

h3 {
  color: #fff;
  font-size: 18px;
}

p {
  color: #fff;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  color: #fff;
  font-size: 16px;
}

a {
  color: #fff;
  text-decoration: none;
}

.neumorphic {
  border-radius: 34px;
  background: #62a0ea;
  box-shadow: inset 5px 5px 10px #5388c7,
              inset -5px -5px 10px #71b8ff;
}

.button {
  display: inline-block;
  border-radius: 50px;
  background: #222222;
  box-shadow: inset 5px 5px 10px #0e0e0e,
              inset -5px -5px 10px #363636;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

footer {
  background-color: #222;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  padding: 20px;
  margin: 20px
}